*/*.json
*/*.exe
*/*.tfstate
*/*.out
*/terraform*
**/.terraform/*
*/.terraform/*
*/.terraform.lock.hcl
*/*.plan
*/init.tf
*/*.tfvars
*/*/*.json
*/*/*.exe
*/*/*.tfstate
*/*/*.out
*/*/terraform*
**/.terraform/*
*/*/.terraform/*
*/*/.terraform.lock.hcl
*/*/*.plan
*/*/init.tf
*/*/*.tfvars


